@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KCC";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 240 10% 3.9%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 11%;
    --foreground: 0 0% 98%;

    --secondary: 222, 17%, 15%;
    --secondary-foreground: 0 0% 98%;

    --border: 220 15% 24%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
