# Workflow name
name: "Chromatic and GitHub Pages Deployment"

# Event for the workflow
on:
  push:
    branches: ["main", "feat/*"] # main과 feat/ 로 시작하는 브랜치
  pull_request:
    branches: ["main"] # main으로 가는 PR
  # ↓ 수동 실행 옵션 추가 가능
  workflow_dispatch:

# List of jobs
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions: # 권한 설정
      contents: write
    concurrency: # 동시 실행 제한
      group: ${{ github.workflow }}
      cancel-in-progress: true # 명시한 group 안에서 이전에 실행한 작업 존재시 취소
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm install

      - name: Deploy to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Storybook
        run: npm run build-storybook

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./storybook-static # Storybook 빌드 결과물 경로
          publish_branch: gh-pages # GitHub Pages용 브랜치
